# Github colab 101

Test avec un notebook

In [1]:
# quelques lignes pythons :

print('Hello world !')

Hello world !

In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/OpenClassrooms-Student-Center/github-colab-101/main/data/car.csv', sep=";")

df.head()

            Modele   CYL  PUISS  LONG  LARG  POIDS  V_MAX
0       Alfasud TI  1350     79   393   161    870    165
1         Audi 100  1588     85   468   177   1110    160
2       Simca 1300  1294     68   424   168   1050    152
3  Citroen GS Club  1222     59   412   161    930    151
4         Fiat 132  1585     98   439   164   1105    165